/* 
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: 'Open Sans', sans-serif;
}
body {
  overflow-x: hidden;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #D1BD88;
}
h2 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
h3 {
  font-size: 1.5rem;
  font-style: italic;
}
p {
  line-height: 1.5;
}
.button {
  background-color: #D1BD88;
  padding: 10px 20px;
  border-radius: 500px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.button:hover {
  background-color: white;
  color: #D1BD88;
  border: 1px solid #D1BD88;
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #314D69;
  width: 100vw;
  z-index: 1;
}
@media (max-width: 720px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }
}
.nav-bar h1 {
  padding: 15px;
}
.nav-bar nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1100px) {
  .nav-bar nav {
    width: 50%;
  }
}
@media (max-width: 720px) {
  .nav-bar nav {
    flex-direction: column;
  }
}
.nav-bar nav a {
  background-color: #D1BD88;
  padding: 10px 20px;
  border-radius: 500px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.nav-bar nav a:hover {
  background-color: white;
  color: #D1BD88;
  border: 1px solid #D1BD88;
  cursor: pointer;
}
.nav-bar nav a:hover {
  border: white;
}
@media (max-width: 720px) {
  .nav-bar nav a {
    text-align: center;
    width: 100vw;
    border-radius: 0;
  }
}
header {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #98ACB5, #314D69);
  align-items: center;
  margin-bottom: 25px;
}
@media (max-width: 720px) {
  header {
    padding-bottom: 15px;
    display: block;
  }
}
@media (max-width: 720px) {
  header .header-left {
    display: none;
  }
}
header .header-left img {
  width: 200px;
  height: auto;
}
header .header-right {
  width: 400px;
  background-color: #394147;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 720px) {
  header .header-right {
    width: 95%;
    margin: auto;
  }
}
header .header-right h2 {
  text-align: center;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
header .header-right p {
  padding: 15px;
  color: white;
}
header .header-right a {
  margin-bottom: 15px;
}
.home-header {
  padding-top: 95px;
}
@media (max-width: 720px) {
  .home-header {
    padding-top: 225px;
  }
}
@media (max-width: 825px) {
  .home-header .header-left img:last-child {
    display: none;
  }
}
.home-header .header-right h2 {
  margin-bottom: 15px;
}
.about-header {
  padding-top: 99px;
}
@media (max-width: 720px) {
  .about-header {
    padding-top: 225px;
  }
}
.about-header .about-header-left img {
  background: white;
  border-radius: 100%;
  padding: 10px;
}
footer {
  width: 100vw;
  background-color: #314D69;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
footer ul {
  width: 33%;
  display: flex;
  justify-content: space-between;
}
footer ul a {
  color: white;
}
footer ul a:visited {
  color: white;
}
footer ul a:hover {
  color: #D1BD88;
}
footer .copyright {
  font-size: 1rem;
  font-weight: bold;
}
.carousel {
  margin: 25px auto 0 auto;
  max-width: 80%;
}
@media (max-width: 720px) {
  .carousel {
    display: none;
  }
}
.carousel .carousel-inner > .item > a > img,
.carousel .carousel-inner > .item > img,
.carousel .img-responsive,
.carousel .thumbnail a > img,
.carousel .thumbnail > img {
  width: 100%;
  height: auto;
}
.carousel #search-for-it {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel #search-for-it a {
  margin: 15px 0;
  width: 40%;
}
.carousel #search-for-it a:hover {
  text-decoration: none;
}
.bottom-banner {
  width: 95%;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  background-color: #394147;
  border-radius: 15px;
  max-height: 300px;
}
@media (max-width: 720px) {
  .bottom-banner {
    flex-direction: column;
    max-height: 100%;
  }
}
.bottom-banner .bottom-banner-left {
  width: 67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 720px) {
  .bottom-banner .bottom-banner-left {
    width: 100%;
  }
}
.bottom-banner .bottom-banner-left h2 {
  margin-top: 15px;
}
@media (max-width: 1100px) {
  .bottom-banner .bottom-banner-left h2 {
    display: none;
  }
}
.bottom-banner .bottom-banner-left p {
  padding: 15px;
  font-size: 1.5rem;
  color: white;
}
.bottom-banner .bottom-banner-left .button {
  margin-bottom: 15px;
}
.bottom-banner .bottom-banner-img {
  width: 33%;
  object-fit: cover;
  border-radius: 0 15px 15px 0;
}
@media (max-width: 720px) {
  .bottom-banner .bottom-banner-img {
    height: auto;
    width: 100%;
    order: -1;
    border-radius: 15px 15px 0 0;
  }
}
.developer-banner {
  margin: 0 auto 25px auto;
  width: 90%;
  background-color: #394147;
  border-radius: 15px;
  display: flex;
}
.developer-banner .banner-developer-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  color: white;
  width: auto;
}
.developer-banner .banner-developer-text ul {
  width: 15%;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
@media (max-width: 1100px) {
  .developer-banner .banner-developer-text ul {
    width: 100%;
  }
}
.developer-banner .banner-developer-text ul a i {
  color: white;
  width: 100%;
  height: auto;
}
.developer-banner .banner-developer-text ul a i:hover {
  color: #D1BD88;
}
.developer-banner img {
  border-radius: 0 15px 15px 0;
  max-height: 300px;
  height: auto;
  width: auto;
}
@media (max-width: 720px) {
  .developer-banner img {
    display: none;
  }
}
.reverse img {
  order: -1;
  border-radius: 15px 0 0 15px;
}
