.developer-banner {
  margin: 0 auto 25px auto;
  width: 90%;
  background-color: @darkBg;
  border-radius: 15px;
  display: flex;
  
  .banner-developer-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    color: white;
    width: auto;

    ul {
      width: 15%;
      display: flex;
      justify-content: space-around;
      margin-top: 15px;

      @media @tablet {
        width: 100%;
      }
      
      a {
        i {
          color: white;
          width: 100%;
          height: auto;
        }

        &:hover {
          color: @altColor;
        }
      }
    }
  }

  img {
    border-radius: 0 15px 15px 0;
    max-height: 300px;
    height: auto;
    width: auto;
    
    @media @mobile {
      display: none;
    }
  }
}

.reverse {
  img {
    order: -1;
    border-radius: 15px 0 0 15px;
  }
}
