footer {
  align-items: center;
  background-color: @mediumBg;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  width: 100vw;

  ul {
    display: flex;
    justify-content: space-between;
    width: 33%;
  
    a {
      color: white;
      
      &:visited{
        color: white;
      }
      
      &:hover {
        color: @altColor;
      }
    }
  }
  .copyright {
    font-size: 1rem;
    font-weight: bold;
  }
}