html {
  font-family: 'Open Sans', sans-serif;
}

body {
  overflow-x: hidden;
}

h1 {
  color: #D1BD88;
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-style: italic;
}

p{
  line-height: 1.5;
}

a {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

.button {
  .custom-button(@altColor, white);
}