.carousel {
  margin: 25px auto 0 auto;
  max-width: 50%;
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    height: 500px;
    width: 100%;
  }
  #search-for-it {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
      margin: 15px 0;
      width: 40%;
      &:hover {
        text-decoration: none;
      } 
    } 
  }

  @media @tablet {
    display: none;
  }
}

.bottom-banner{
  width: 95%; 
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  background-color: @darkBg;
  border-radius: 15px;
  height: 300px;

  .bottom-banner-left {
    width: 67%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h2{
      margin-top: 15px;
    }

    p {
      padding: 15px;
      font-size: 2rem;
      color: white;
    }

    .button {
      margin-bottom: 15px;
    }
  }

  img {
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 0 15px 15px 0;
  }
}
