header {
  padding-top: 70px;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, @lightBg, @mediumBg);
  
  .header-left{
    img {
      width: 200px;
      height: auto;
    }
  }

  .header-right{
    width: 400px;
    background-color: @darkBg;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h2 {
      text-align: center; 
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.carousel {
  margin: 25px auto 0 auto;
  max-width: 50%;
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    height: 500px;
    width: 100%;
  }
  #search-for-it {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
      margin: 15px 0;
      width: 40%;
      &:hover {
        text-decoration: none;
      } 
    } 
  }
}

.bottom-banner{
  width: 95%; 
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  background-color: @darkBg;
  border-radius: 15px;

  .bottom-banner-left {
    width: 67%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    p {
      padding: 15px;
      font-size: 2rem;
      color: white;
    }
  }

  .bottom-banner-right {
    width: 33%;

    img {
      width: 100%;;
      height: auto;
      border-radius: 0 15px 15px 0;
    }
  }
}
