.custom-button {
      background-color: @straw;
      padding: 2% 4%;
      border-radius: 500px;
      color: white;
      font-weight: bold;
      font-size: 2rem;

      &:hover {
        cursor: pointer;
      }
}
