header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #7FFF00;
  width: 100vw;
  nav {
    span {
      display: inline-block;
      transform: rotate(180deg);
    }
  }
}
