.nav-bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-image: linear-gradient(to right, @gullGray, @sanJuan);
  width: 100vw;
  height: 70px;
  z-index: 1;
  nav {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      .custom-button(@altColor, white);
    }
  }
}
